* {
    border: 0;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #74b9ff;
    height: 5vh;
}
/* ######################
        navegacion
   ###################### */
   
.navigation i{
    font-size: 40px;
    margin-right: 50px;
    margin-top: 7px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(61, 60, 60);
}

.navigation li {
    width: 15%;
    border-right: 1px solid #d6d6d6;
    margin: auto;
    float: left;
    font-size: 25px;
}


.navigation li:first-child{
    border: none;
    margin-left: 20px;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}


.navigation li a:hover {
    background-color: #111;
}
/* ########################
            Footer
  ######################## */
.footer {
  margin: auto;
  background-color: #74b9ff;
  position: absolute;
  bottom: 0;

  width: 100%;
  color: #2d3436;
  
  text-align:center
  }

  .sub-footer{
    justify-content:center;
    align-items: center;
    margin: auto;
  }

  .int-footer {
    width: 100%;
    justify-content:center;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
  }

  .row-footer {
      margin-top: 10px;
      margin-bottom: 30px;
      text-align: center;
  }

  .row-footer h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    
  }

  .row-footer ul {
      width: 70%;
      list-style: none;
      text-align: left;
    
}

.row-footer li {
    
}

.pie-final{
    bottom: 0%;
}