* {
    border: 0;
    margin: 0;
    padding: 0;
}

.header {
    background-color: blueviolet;
    height: 5vh;
}
/* ######################
        navegacion
   ###################### */
   
.navigation i{
    font-size: 40px;
    margin-right: 50px;
    margin-top: 7px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(61, 60, 60);
}

.navigation li {
    margin-left: 20px;
    float: left;
    font-size: 25px;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.navigation li a:hover {
    background-color: #111;
}
/* ########################
            Footer
  ######################## */
.footer {
  margin: auto;
 
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
  justify-content:center;
  text-align:center
  }

  .int-footer {
    width: 100%;
    justify-content:center;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
  }

  .row-footer {
      width: 30%;
      padding: 10px;
  }
